asgiref @ file:///Users/ec2-user/croot/asgiref_1771842733640/work
Django @ file:///Users/ec2-user/croot/django_1771599835551/work
packaging @ file:///opt/miniconda3/conda-bld/packaging_1761049079023/work
setuptools==80.10.1
sqlparse @ file:///opt/miniconda3/conda-bld/sqlparse_1764240029253/work
wheel==0.46.3
